# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\projekty\laravel_vue_learning\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
